<div class="list-cont" *ngIf="!isEditMode">
  <h1>todo-list works!</h1>

  <ul>
    <li *ngFor="let todo of todos">
      <app-todo-item
        [todo]="todo"
        (itemDeleted)="toggleItemChanged($event)"
        (isEdittedEvent)="isEditMode = $event"
        (currentTodoEvent)="currentTodo = $event"
      ></app-todo-item>
      <!-- (currentTodoEvent)="getCurrentTodoEvent($event)" -->
    </li>
  </ul>
</div>

<app-edit-todo-form
  [currentTodo]="currentTodo"
  [isEditMode]="isEditMode"
  *ngIf="isEditMode"
  (offEditModeEvent)="isEditMode = $event"
  (offEditModeEvent)="toggleItemChanged($event)"
></app-edit-todo-form>

<!-- <mat-grid-list [cols]="1" rowHeight="150px">
    <mat-grid-tile *ngFor="let todo of todos">
      <app-todo-item [todo]="todo"></app-todo-item>
    </mat-grid-tile>
  </mat-grid-list> -->
