<div class="form-cont">
  <mat-card>
    <mat-card-header fxLayout="row" fxLayoutAlign="center">
      <mat-card-title>Edit Todo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="todoForm">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" placeholder="Title" />
          <mat-error
            *ngIf="
              todoForm.get('title')?.invalid && todoForm.get('title')?.touched
            "
            >Title is required and must be max 50 characters</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="Description"
          ></textarea>
          <mat-error
            *ngIf="
              todoForm.get('description')?.invalid &&
              todoForm.get('description')?.touched
            "
            >Description is required and must be max 200 characters</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Priority</mat-label>
          <mat-select formControlName="priority" placeholder="Priority">
            <mat-option value="high">High</mat-option>
            <mat-option value="medium">Medium</mat-option>
            <mat-option value="low">Low</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              todoForm.get('priority')?.invalid &&
              todoForm.get('priority')?.touched
            "
            >Priority is required</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" placeholder="Category">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category.attributes.title.toUpperCase() }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              todoForm.get('category')?.invalid &&
              todoForm.get('category')?.touched
            "
            >Category is required</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <input
            class="date-input"
            matInput
            [matDatepicker]="picker"
            formControlName="dueDate"
            placeholder="Choose a due date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="
              todoForm.get('dueDate')?.invalid &&
              todoForm.get('dueDate')?.touched
            "
            >Due date is required</mat-error
          >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
      <button mat-raised-button color="primary" (click)="handleCancelBtn()">
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="handleConfirmBtn()"
        [disabled]="todoForm.invalid"
      >
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</div>
